img.c_sports{background-position: 0px 0px;width:46px;height:46px;}
img.c_software{background-position: -46px 0px;width:46px;height:46px;}
img.c_pcgames{background-position: -92px 0px;width:46px;height:46px;}
img.c_tvshows{background-position: -138px 0px;width:46px;height:46px;}
img.c_tvseries{background-position: -184px 0px;width:46px;height:46px;}
img.c_study{background-position: -230px 0px;width:46px;height:46px;}
img.c_hqaudio{background-position: -276px 0px;width:46px;height:46px;}
img.c_doc{background-position: -322px 0px;width:46px;height:46px;}
img.c_anime{background-position: -368px 0px;width:46px;height:46px;}
img.c_other{background-position: -414px 0px;width:46px;height:46px;}
img.c_mv{background-position: -460px 0px;width:46px;height:46px;}
img.c_movies{background-position: -506px 0px;width:46px;height:46px;}