img.c_software{background-position:  -45px 0px;width:45px;height:46px;}
img.c_pcgames{background-position: -90px 0px;width:45px;height:46px;}
img.c_sports{background-position:  0px 0px;width:45px;height:46px;}
img.c_tvshows{background-position: -135px 0px;width:45px;height:46px;}
img.c_tvseries{background-position: -180px 0px;width:45px;height:46px;}
img.c_other{background-position: -405px 0px;width:45px;height:46px;}
img.c_doc{background-position: -315px 0px;width:45px;height:46px;}
img.c_anime{background-position: -360px 0px;width:45px;height:46px;}
img.c_hqaudio{background-position: -270px 0px;width:45px;height:46px;}
img.c_mv{background-position: -450px 0px;width:45px;height:46px;}
img.c_movies{background-position: -495px 0px;width:45px;height:46px;}
img.c_study{background-position: -225px 0px;width:45px;height:46px;}
