img.f_reply
{
width:90px;
height:25px;
background:url(forum/f_reply.png);
}
img.f_new
{
width:90px;
height:25px;
background:url(forum/f_new.png);
}
img.f_delete
{
width:72px; 
height:25px;
background:url(forum/f_delete.png);
}
img.f_edit
{
width:72px;
height:25px;
background:url(forum/f_edit.png) ;
}
img.f_pm
{
width:35px;
height:24px;
background:url(forum/f_pm.png);
}
img.f_offline
{
width:35px;
height:24px;
background:url(forum/f_offline.png);
}
img.f_quote
{
width:72px;
height:25px;
background:url(forum/f_quote.png);
}
img.f_report
{
width:35px;
height:24px;
background:url(forum/f_report.png);
}
img.f_online
{
width:35px;
height:24px;
background:url(forum/f_online.png);
}
