.curtain {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	opacity:.80;
	filter: alpha(opacity=80);
}

.lightbox {
	display: none;
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index:1002;
	overflow-x: hidden; 
	overflow-y: auto;
}

#ckepop *
{
background:transparent; 
border:none;
}

table.headwide
{
	background: transparent;
	height: 100px;
	width: 85%;
}

.Warehouse_Name{color: Purple}
A.Warehouse_Name:link{color: Purple}
A.Warehouse_Name:visited{color: Purple}

.buypos{background-color:LemonChiffon}

td.shoutrow{
overflow:hidden
}


#mainmenu li{
display:block;
	float:left;
	height:24px;
	overflow:hidden;
	margin: 0px;
	margin-right: -1px;
	margin-left: -1px;
	text-decoration:none;
	list-style-type:none;
}
#mainmenu li a{
	display:block;
	outline:none;
}
#mainmenu {
padding: 0px;
margin: 0px;
}

#kdescr {
word-break: break-all;
}


img.loading
{

background:url(loading.gif) no-repeat 1px -3px;width:42px;height:35px;
}
body {min-width:1024px;}



.transitionpic {-webkit-transform-origin:50% 60%;border-radius: 3px;}
.transitionpic:hover { 
-webkit-transform: scale(1.8);
-webkit-box-shadow: 0 0 20px #caebfa;}

.dropmenu ul
{
margin: 0px;
}

/*
html{filter:fliph}
body{-webkit-transform: rotateY(180deg);
transform: rotateY(180deg);
}
*/

::-webkit-scrollbar {
width: 10px;
height: 10px;
}
::-webkit-scrollbar-track-piece {
background-color: #ccc;
-webkit-border-radius: 3px;
}
::-moz-selection{background:#ff7283; color:#FFFFFF;}
::selection {background:#ff7283; color:#FFFFFF;}